<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="暮秋微商家" /> 
<meta name="description" content="暮秋微商" />
<title>在日华人信息</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css"     href="css/page_mp_article_improve23b1e9.css">
<link href="css/iscroll.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="csss/page_mp_article_improve_combo24531b.css">
</head>
<body class="allbg">

<div class="rich_media_inner registpage">
                <div id="img-content" class="rich_media_area_primary infobox">
                    <div align=center><h2 class="rich_media_title" id="activity-name">
                        ♨轻松月入百万日元--蜜柚旅游急募100名中文导游（地陪），赶快来注册！！ 
                    </h2></div>
                   <div align=center><img src="http://www.luru123.com/store/images/640.png" style="width: auto ! important; visibility: visible ! important; height: auto ! important;" data-s="300,640" data-type="png" data-src="http://mmbiz.qpic.cn/mmbiz/9Q8Qgltx02IxNkQJICoMO1BFPCAzZaPSKz2nibicAN69e7iaJYbNamuY41rK4uGfYuIAxZTJbRaqoEqfnfKH3fkOQ/0" data-ratio="0.541501976284585" data-w="" class="image"><br></div>
                                                            
                                                            
                   <strong><span style="color: rgb(255, 255, 255); background-color: rgb(255, 0, 0);"></span></strong></span></p><p><br></p><fieldset style="border: 0px; max-width: 100%; margin: 0.5em 0px 0px; padding: 0px 0.5em 0.5em 0px; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><section style="border: 2px dotted white; padding: 10px; box-shadow: rgb(225, 225, 225) 8px 8px 3px; font-size: 1em; line-height: 1.4; text-align: inherit; white-space: normal; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(51, 51, 51); box-sizing: border-box; word-wrap: break-word !important; background-color: rgb(249, 110, 87);" class="tn-Powered-by-XIUMI"><p style="box-sizing: border-box; text-align: center;"><span style="font-size: 18px;"><strong><span style="color: rgb(255, 255, 255);">你爱好旅游吗？</span></strong></span></p><p style="box-sizing: border-box; text-align: center;"><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 255, 255);">你想充分利用你的业余时间吗？</span></strong></span></p><p style="box-sizing: border-box; text-align: center;"><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 255, 255);">你想免费旅游吗？</span></strong></span></p><p style="box-sizing: border-box; text-align: center;"><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 255, 255);">你想拓展人脉吗？</span></strong></span></p><p style="box-sizing: border-box; text-align: center;"><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 255, 255);">你想成为成功人士吗？</span></strong></span></p></section></fieldset><p style="white-space: normal;"><br></p><section data-id="24" class="135editor"><section class="135brush" style="margin: 3px; padding: 15px;color: rgb(62, 62, 62); line-height: 24px;box-shadow: rgb(170, 170, 170) 0px 0px 3px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-box-shadow: rgb(170, 170, 170) 0px 0px 3px;"><span style="color: rgb(149, 55, 52);">赶快加入我们，<strong>无需每天坐班</strong>，只需登陆我们的P2P导游派遣网站即可找到你心仪的导游工作。轻松月入百万日元。半天，一天，若干天等，各种导游路线应有尽有！</span><strong><span style="color: rgb(149, 55, 52);">有导游经验优先。没有导游经验愿意挑战的人士也没有关系！</span></strong></section></section><p style="text-align: center;"><span style="background-color: rgb(227, 108, 9);"><strong style="color: rgb(255, 255, 255); font-size: 18px; text-align: center; white-space: normal;">把握机会，改变人生</strong></span></p><fieldset style="margin: 1.5em 1em 1em; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(249, 110, 87); font-size: 1em; font-family: inherit; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(166, 166, 166); box-sizing: border-box; background-color: rgb(255, 255, 255);" class="tn-Powered-by-XIUMI"><section style="margin-top: -1em; padding: 0px; border: none; line-height: 1.4; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="display: inline-block; padding: 3px 8px; border-radius: 4px; color: rgb(255, 255, 255); font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; border-color: rgb(249, 110, 87); box-sizing: border-box; background-color: rgb(249, 110, 87);" class="tn-Powered-by-XIUMI"><section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;"><strong>蜜柚旅游</strong></section></span></section><section style="padding: 16px; font-size: 1em; line-height: 1.4; font-family: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="color: rgb(63, 63, 63);">蜜柚旅游的创业团队的核心成员来自百度，腾讯，阿里巴巴。联合创始人为日本国土交通大臣任命的旅游大使。<span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI">蜜柚旅游每月向日本输送的中国游客已经<span style="color: rgb(255, 0, 0); font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;">超过五千人</span>次。公司注册的名星导游，月收入已过百万曰元。</span></span><span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI"> <span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit;"></span></span></section></fieldset><p style="white-space: normal;"><br></p><fieldset style="margin: 1.5em 1em 1em; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(249, 110, 87); font-size: 1em; font-family: inherit; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(166, 166, 166); box-sizing: border-box; background-color: rgb(255, 255, 255);" class="tn-Powered-by-XIUMI"><section style="margin-top: -1em; padding: 0px; border: none; line-height: 1.4; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="display: inline-block; padding: 3px 8px; border-radius: 4px; color: rgb(255, 255, 255); font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; border-color: rgb(249, 110, 87); box-sizing: border-box; background-color: rgb(249, 110, 87);" class="tn-Powered-by-XIUMI"><section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;"><strong>任职资格</strong></section></span></section><section style="padding: 16px; font-size: 1em; line-height: 1.4; font-family: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="color: rgb(63, 63, 63);"><span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI">喜欢旅游，良好的沟通能力；外表形象佳，责任心强，细致认真；踏实，工作有条理，办事沉稳、细心、领悟能力强，性格开朗，头脑灵活，青春，阳光。身体健康，有上进心。<span style="color: rgb(255, 0, 0); font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;"><span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;">性别国籍不限。18周岁以上50周岁以下</span>。<span style="font-family: inherit; font-size: 1em; line-height: 1.4; font-weight: inherit; text-decoration: inherit; box-sizing: border-box;">精通中文和会日语</span>。有正规日本在留资格（留学生可）。<span style="color: rgb(255, 0, 0); font-family: inherit; font-size: 1em; line-height: 22.399999618530273px; font-weight: inherit; text-decoration: inherit;">有汽车驾照，驾驶技术熟练，有车辆者优先。</span></span></span><span style="font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI">导游路线遍布日本全国各地，你可以选择自己合适的区域。</span></span><span style="font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI"> </span><span style="font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit;"> </span></section></fieldset><p style="white-space: normal;"><br></p><fieldset style="margin: 1.5em 1em 1em; padding: 0.5em 1em; white-space: normal; border: 1px solid rgb(249, 110, 87); font-size: 1em; font-family: inherit; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(166, 166, 166); box-sizing: border-box; background-color: rgb(255, 255, 255);" class="tn-Powered-by-XIUMI"><section style="margin-top: -1em; padding: 0px; border: none; line-height: 1.4; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="display: inline-block; padding: 3px 8px; border-radius: 4px; color: rgb(255, 255, 255); font-size: 1em; font-family: inherit; font-weight: inherit; text-decoration: inherit; border-color: rgb(249, 110, 87); box-sizing: border-box; background-color: rgb(249, 110, 87);" class="tn-Powered-by-XIUMI"><section class="tn-Powered-by-XIUMI" style="box-sizing: border-box;"><strong>酬金支付</strong></section></span></section><section style="padding: 16px; font-size: 1em; line-height: 1.4; font-family: inherit; box-sizing: border-box;" class="tn-Powered-by-XIUMI"><span style="font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit; box-sizing: border-box; color: rgb(63, 63, 63);">( 支持以下开通网上银行的储蓄卡及信用卡)</span><p><span style="color: rgb(63, 63, 63); font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit; box-sizing: border-box;">中国工商银行、建设银行、中国银行、交通银行、中国农业银行、招商银行、 中国光大银行、兴业银行、中国民生银行、中信银行、上海浦东发展银行、 广东发展银行、南京银行、宁波银行、平安银行、北京银行、中国邮政储蓄银行。第三方支付 ：支付宝 。<span style="color: rgb(255, 0, 0); font-family: inherit; font-size: 1em; font-weight: inherit; line-height: 1.4; text-decoration: inherit; box-sizing: border-box;">支付在中国，不涉及法律问题。</span></span></p></section></fieldset><p style="text-align: center;"><span style="color: rgb(89, 89, 89); font-size: 15px;">注：报名者需有驾照，有车（车可是租借的）且车子有保险</span></p></div>
	
    <div class="join-top"><div class="jointitle">请如实填写报名信息，以便后续联系！</div></div>
    <form action="/" method="post" class="join-mid">
		  <div class="join-input"><input type='text' name='name' id='name' placeholder="+ 姓名" class="inputbox"/></div>
		  <div class="join-input inputbg1"><input type='text' name='phone' id='phone' placeholder="+ 手机号" class="inputbox"/></div>
		  <div class="join-input inputbg3"><input type='text' name='weixin' id='weixin' placeholder="+ 微信号" class="inputbox"/></div>
		  <div class="join-input inputbg4"><input type='text' name='study' id='study' placeholder="+ 在留资格 (留学、就职、永驻)" class="inputbox"/></div>
		  <p>有无驾照 <span style="color:red">*</span></p>
		  <div class="radio1"><div class="radiotext"><input type='radio' name='license' value='有' class="radiobox" />&nbsp;&nbsp;有</div></div>
		  <div class="radio1 radius"><div class="radiotext"><input type='radio' name='license' value='无' class="radiobox" />&nbsp;&nbsp;无</div></div>
		  <p>有无汽车 <span style="color:red">*</span></p>
		  <div class="radio1"><div class="radiotext"><input type='radio' name='haveCar' value='有' class="radiobox" />&nbsp;&nbsp;有</div></div>
		  <div class="radio1 radius"><div class="radiotext"><input type='radio' name='haveCar' value='无' class="radiobox" />&nbsp;&nbsp;无</div></div>
		  <p>应聘职位 <span style="color:red">*</span></p>
		  <div class="radio1"><div class="radiotext"><input type='radio' name='fulltime' value='专职导游' class="radiobox" />&nbsp;&nbsp;专职导游</div></div>
		  <div class="radio1 radius"><div class="radiotext"><input type='radio' name='fulltime' value='兼职导游' class="radiobox" />&nbsp;&nbsp;兼职导游</div></div>
		  <div><input type='submit' value='提 交' class="join-btn"/></div>
		  
		</form>

</div>

<div class="copyright">CopyRight 2015  创思维力，All rights reserved.</div>
<div class="menwrap">
	<div class="expan2"><a href="Index.html"></a></div>
    <div class="btn3 clearfix">
        <div class="menu">
            <div class="bt-name">微官网</div>
            <div class="sanjiao"></div>
            <ul class="new-sub margin10">
                <li class="pipe2"><a href="Index.html">商家导航</a></li>
                <li class="pipe1"><a href="#" >微场景</a></li>
                <li class="pipe1"><a href="#" >刮刮卡</a></li>
                <li><img src="http://www.luru123.com/store/images/arrow-down.png" width="16" height="16" style="position:absolute; bottom:-16px"></li>
            </ul>
        </div>
        <div class="menu">
            <div class="bt-name">便民服务</div>
            <div class="sanjiao"></div>
            <ul class="new-sub margin10">
                <li class="pipe2"><a href="#">招聘</a></li>
                <li class="pipe1"><a href="#" >旅游</a></li>
                <li class="pipe1"><a href="#" >手机</a></li>
                <li class="pipe1"><a href="#" >按摩</a></li>
                <li class="pipe1"><a href="#" >电话卡</a></li>
                <li><img src="http://www.luru123.com/store/images/arrow-down.png" width="16" height="16" style="position:absolute; bottom:-16px"></li>
            </ul>
        </div>
        <div class="menu" >
        	<div class="bt-name">暮秋盒子</div>
        	<div class="sanjiao"></div>
            <ul class="new-sub margin10">
                <li class="pipe2"><a href="#">一键购买</a></li>
                <li class="pipe1"><a href="#" >我要看电视</a></li>
                <li class="pipe1"><a href="#" >说明</a></li>
                <li class="pipe1"><a href="#" >价目表</a></li>
                <li class="pipe1"><a href="#" >投诉与建议</a></li>
                <li><img src="http://www.luru123.com/store/images/arrow-down.png" width="16" height="16" style="position:absolute; bottom:-16px; text-align:center"></li>
            </ul>
            </ul>
        </div>
	</div>
</div>

<script type="text/javascript" src="http://www.luru123.com/store/store/jquery.min.js"></script>
<script>
$(".menu").click(function() {
    if ($(this).hasClass("cura")) {
        $(this).children(".new-sub").hide(); //当前菜单下的二级菜单隐藏
        $(".menu").removeClass("cura"); //同一级的菜单项
    } else {
        $(".menu").removeClass("cura"); //移除所有的样式
        $(this).addClass("cura"); //给当前菜单添加特定样式
        $(".new-sub").hide(); //隐藏所有的二级菜单
        $(this).children(".new-sub").show(); //展示当前的二级菜单
    }
});
</script>
<script type="text/javascript">
var count = document.getElementById("thelist").getElementsByTagName("img").length;	

var count2 = document.getElementsByClassName("menuimg").length;

for(i=0;i<count;i++){
 document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
}

document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";

setInterval(function(){
	myScroll.scrollToPage('next', 0,400,count);
},3500 );

window.onresize = function(){ 
	for(i=0;i<count;i++){
		document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:"+document.body.clientWidth+"px";
	}
 document.getElementById("scroller").style.cssText = " width:"+document.body.clientWidth*count+"px";
}
</script>

</body>
</html>
