<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>在日华人信息</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="stylesheets/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>搬家在线报价</h1>
    <p>您的搬家助手<br/>提交您的信息，获得搬家公司的最低报价</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>公司展示</h3>
    <hr>
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> XXX1</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> XXX2</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> XXX3</a>
    </div>
    <br>
    <br>

    <form action="/move" method="post" class="am-form">
      <label for="address">地址:</label>
      <input type="address" name="address" id="address" value="">
      <br>
      <label for="name">姓名:</label>
      <input type="name" name="name" id="name" value="">
      <br>
      <label for="phone">电话:</label>
      <input type="phone" name="phone" id="phone" value="">
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl am-width">
      </div>
    </form>
    <hr>
    <p align="center">©2015 创思维力</p>
  </div>
</div>
</body>
</html>
