<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>全日本最便宜竞价机票，10+机票公司为您报价</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="stylesheets/amazeui.min.css"/>
  <style>
  	.bg {
  		 margin: 0 auto;
  		 width:640px;
  		 background-image:url("http://www.luru123.com/store/images/bg.jpg");
  		 background-repeat:no-repeat;
  		  background-position:top;
  	}
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body class="bg">
<div class="am-g">
<div style="margin-top:520px;">

</div>
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>合作旅行社</h3>
    <hr>
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-primary am-btn-sm">小米机票</a>
      <a href="#" class="am-btn am-btn-secondary am-btn-sm">正宏旅行</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm">安達旅行</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm">大慶旅行</a>
      <a href="#" class="am-btn am-btn-secondary am-btn-sm">産経旅行</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm">携程旅行</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm">平安旅行</a>
      <a href="#" class="am-btn am-btn-secondary am-btn-sm">毎日旅行</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm">中国国旅</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm">名申国際</a>
      <a href="#" class="am-btn am-btn-secondary am-btn-sm">安克楽思</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm am-five">&#21326;冨士旅行</a>
    </div>
    <br>
    <br>

    <form action="/ticket" method="post" class="am-form">
      <label for="start">出&#21457;地:</label>
      <input type="name" name="start" id="start" value="">
      <br>
       <label for="end">目的地:</label>
      <input type="name" name="end" id="end" value="">
      <br>
       <label for="date">出&#21457;日期:</label>
      <input type="date" name="date" id="date" value="">
      <br>
      <label for="backdate">返回日期:</label>
      <input type="date" name="backdate" id="backdate" value="">
      <br>
       <label for="adults">成年人数:</label>
      <input type="name" name="adults" id="adults" value=""> 
      <br>
       <label for="child">未成年人数:</label>
      <input type="name" name="child" id="child" value="">
      <br>
      <label for="name">姓名:</label>
      <input type="name" name="name" id="name" value="">
      <br>
      <label for="phone">&#30005;&#35805;:</label>
      <input type="phone" name="phone" id="phone" value="">
      <br>
      <label for="phone">&#37038;箱:</label>
      <input type="name" name="email" id="email" value="">
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="提 交" class="am-btn am-btn-primary am-btn-sm am-fl am-width">
      </div>
    </form>
    <hr>
    <p align="center">&copy;2015 &#21019;思&#32500;力</p>
  </div>
</div>
</body>
