<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>在线翻译</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="stylesheets/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>在线翻译</h1>
    <p style="color:seagreen">您的旅游帮手<br/></p>
  </div>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <hr>
    <form action="/translate" method="post" class="am-form">
      <label for="lang">中->日</label>
      <% if(lang=='zh'){ %>
        <input type="radio" name="lang" id="lang" checked value="zh" > <% }else{ %>
        <input type="radio" name="lang" id="lang" value="zh" ><% } %>
      <label for="lang">日->中</label>
      <% if(lang=='jp'){ %>
        <input type="radio" name="lang" id="lang" checked value="jp" > <% }else{ %>
        <input type="radio" name="lang" id="lang" value="jp" ><% } %>
      <br>
      <input type="name" name="word" id="word" value="<%= word %> placeholder="请输入您要翻译的文字或内容">
      <br>
      <input type="name" name="result" id="result" value="<%= result %>">
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="翻 译" class="am-btn am-btn-primary am-btn-sm am-fl am-width">
      </div>
    </form>
    <hr>
    <p align="center">©2015 创思维力</p>
  </div>
</div>
</body>
